.product {
    height: 350px;
    width: 100%;
    border-bottom: thin solid #EAEAEA;
}
.product_info {
    width: 1000px;
    margin: 0 auto;
}
.product_info_head {
    display: block;
    text-align: center;
    margin: 0;
    /* padding: 10px; */
}
.product_info h3 {
    text-align: center;
}
.product_info div {
    display: inline-block;
    width: 320px;
}
.product_info p {
    padding: 20px;
}